.stats-content {
  padding: 20px;
  text-align: center;
  border-bottom: 10px solid #692828;
  h3 {
    margin: 0;
    font-size: 1.5em;
  }
  h4 {
    margin: 0;
    margin-top: 10px;
    font-size: 1.2em;
  }
}
