  <div class="stats-content" *ngIf="player.name">
    <h3>Stats for {{player.name}}</h3>


    <div class="main-stats">

      <div class="stat" *ngIf="player.hp > -1">
        <strong>HP</strong>
        <br>{{player.hp}}<br>
        <span class="warning" *ngIf="player.hp < 50"><br>*Low HP! Rest or heal<br></span>
      </div>

      <div class="stat" *ngIf="player">
        <strong>Crystals</strong>
        <br>{{player.crystals}}
      </div>
    </div>

    <div class="secondary-stats">
      <div id="speed" class="stat" *ngIf="player">
        <strong>Speed</strong><br>
        <span class="stat-number">{{player.speed}}</span>
      </div>
      <div class="stat" *ngIf="player">
        <strong>Healing</strong><br>
        <span class="stat-number">{{player.healing}}</span>
      </div>
      <div class="stat" *ngIf="player">
        <strong>Gathering</strong><br>
        <span class="stat-number">{{player.gathering}}</span>
    </div>

    </div>

    <div class="stat" *ngIf="player">
    <strong>Miles to Haven</strong>
    <br>{{player.milesToGoal}}
  </div><br>
    <div class="stat" *ngIf="player">
    The horde is <strong>{{player.daysRemaining}}</strong> days behind you.
    </div>
  </div>
