  <div class="stats-content">
    <h3>Stats</h3>
    <div class="stat" *ngIf="player.name">
      <h4>{{player.name}}</h4>
    </div><br>

    <div class="stat" *ngIf="player.hp > -1">
      <strong>HP</strong>
      <br>{{player.hp}}
    </div><br>

    <div class="stat" *ngIf="player.hp < 0">
      <strong>HP</strong>
      <br>0
      <br>
    </div>

    <div class="stat" *ngIf="player">
    <strong>Crystals</strong>
    <br>{{player.crystals}}
  </div><br>
    <div class="stat" *ngIf="player">
    <strong>Speed</strong>
    <br>{{player.speed}}
  </div><br>
    <div class="stat" *ngIf="player">
      <strong>Healing</strong>
      <br>{{player.healing}}
    </div><br>
    <div class="stat" *ngIf="player">
    <strong>Gathering</strong>
    <br>{{player.gathering}}
  </div><br>
    <div class="stat" *ngIf="player">
    <strong>Miles to Haven</strong>
    <br>{{player.milesToGoal}}
  </div><br>
    <div class="stat" *ngIf="player">
    The horde is <strong>{{player.daysRemaining}}</strong> days behind you.
    </div>
  </div>
