div {
  float: left;
  width: 10%;
  margin: 0em 0em 0em -.75em;
}
svg {
  cursor: pointer;
  width: 90px;
  margin: 0 0 -1em 0;
  &:hover {
    path {
      fill: #391b00;
    }
  }
}

h6 {
  cursor: pointer;
  color: #C6442d;
  text-transform: uppercase;
  font-size: .5em;
  font-family: sans-serif;
  &:hover {
    color: #391b00;
  }
  margin: 0em 0em -.8em 3.5em;
}
