@import '../variables.scss';


#monument {
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  border: 10px solid black;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  z-index: 25;
  box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0.5);
}

.scrollBox {
  width: 100%;
  height: 525px;
  position: relative;
  top:0;
  left:0;
  
}

.buttonGroup {
  width: 100%;

}

.monumentsButtons {
  float: left;
  width: 10%;
  margin: 1em 1em 0 0;
}

svg {
  width: 100px;
  &:hover {
    circle {
      fill: #c7442c;
    }
  }
}
