@import '../variables.scss';


#monument {
  background-image: url("../assets/images/introSceneLightest.jpg");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  width: 75vw;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 10px solid black;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  z-index: 100;
  box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0.5);
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.monumentsButtons {
  float: left;
  width: 10%;
  margin: 1em 1em 0 0;
}

svg {
  width: 100px;
  * {
    transition: all 200ms ease-in-out;
  }
  &:hover {
    circle {
      fill: #c7442c;
    }
  }
}
