@import '../variables.scss';


#monument {
  height: 500px;
  width: 700px;
  z-index: 500;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.scrollBox {
  width: 100%;
  height: 525px;
  position: relative;
  top:0;
  left:0;
  
}

.buttonGroup {
  width: 100%;

}

.monumentsButtons {
  float: left;
  width: 10%;
  margin: 1em 1em 0 0;
}

svg {
  width: 100px;
  &:hover {
    circle {
      fill: #c7442c;
    }
  }
}
