@import './_variables.scss';



.wrapper {
  width: 80vw;
  height: 80vh;
  max-height: 800px;
  max-width: 1200px;
  border: 10px solid #692828;
  background-color: #fff;
  margin: auto;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}


.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  border-right: 10px solid #692828;
}

game-state {
  height: 50%;
  min-height: 450px;

}

.instructions {
  height: 50%;
  overflow-y: scroll;
  padding: 20px;
}

.main {
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.output {
  height: 70%;
  border-top: 10px solid #692828;
  padding: 10px;
  // overflow-y: scroll;
  transform: rotate(180deg);
  box-sizing: border-box;
  &-string {
    text-align: center;
    line-height: 30px;
    opacity: 0.6;
    display: block;
    transform: rotate(180deg);
    &:first-child {
      opacity: 1;
      font-size: 1.2em;
    }
  }
}

.actions {
  background: #692828;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}


.new-game {
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  border: 10px solid black;
  transform: translate(-50%, -50%);
  z-index: 200;
  text-align: center;
  padding: 20px;
  z-index: 5;
  box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0.5);

}

.footer {
  position: fixed;
  left: 0;
  bottom: -20px;
  width: 100%;
  z-index: 1;
  img {
    position: relative;
    bottom:0;
    left:0;
    width: 100%
  }
}
