<div class="wrapper">
    <game-stats></game-stats>
  <div class="main">
    <div class="output">
      <span class="output-string" *ngFor="let output of outputArray">{{output}}</span>
    </div>
    <div class="actions">
      <travel></travel><gather></gather><rest></rest><heal></heal>
    </div>
  </div>
</div>


<!--New Game Module-->
<div *ngIf="!isNewPlayer" class="new-game">
  <button (click)="startGame()">Start Game</button>
</div>

<monuments></monuments>









<!--<div class="wrapper">
  <div class="sidebar">

    <div class="ui-left-bottom">fdvs</div>
  </div>
  <div class="ui-right"></div>
  <end-screen></end-screen>

  <button (click)="startGame()">Start Game</button>

  <p><game-intro *ngIf="isNewPlayer === false"></game-intro></p>


</div>
 -->
