<haven-header></haven-header>

<div class="wrapper">
  <div class="sidebar">
    <game-stats></game-stats>
    <div class="instructions">
      <p>Here is a description of the game</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="main">
    <div class="output">
      <span class="output-string" *ngFor="let output of outputArray">{{output}}</span>
    </div>
    <div class="actions">
      <travel></travel><gather></gather><rest></rest><heal></heal>
    </div>

  </div>
</div>


<!--New Game Module-->
<div *ngIf="!isNewPlayer" class="new-game">
  <button (click)="startGame()">Start Game</button>
</div>

<monuments></monuments>









<!-- <div class="wrapper">
  <div class="sidebar">

    <div class="ui-left-bottom">fdvs</div>
  </div>
  <div class="ui-right"></div>
  <end-screen></end-screen>

  <button (click)="startGame()">Start Game</button>

  <p><game-intro *ngIf="isNewPlayer === false"></game-intro></p>
 -->



<!-- New Game Module -->
<div *ngIf="!isNewPlayer" class="new-game">
  <button (click)="startGame()">Start Game</button>
</div>
<div class="footer">

<haven-footer></haven-footer>

</div>
