@import '../_variables.scss';

div {
  float: left;
  width: 10%;
  margin-right: 1em;
}
svg {
  cursor: pointer;
  width: 100px;
  margin: 0;
  &:hover {
    circle {
      fill: $primary-color-brown;
    }
  }
}
