@import './app/_variables.scss';


body {
  background-image: url("assets/images/backgroundDifuuseIndex.png");
  background-color: $primary-color-yellow;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top left;
  overflow-x:hidden;
}
