@import './app/_variables.scss';


body {
  background-image: url("assets/images/backgroundDifuuseIndex.png");
  background-color: $primary-color-yellow;
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: top left;
}
