/* You can add global styles to this file, and also import other style files */

body, html {
  margin: 0;
  padding: 40px;
  min-height: 100%;
  height: 100%;
}

//
// body {
//   background-image: url('./assets/images/HeaderFooter.jpg');
//   background-position: center;
//   background-attachment: fixed;
//   position: relative;
// }

// .ui-wrap {
//   height: 600px;
//   border: 10px solid #692828;
//   width: 1000px;
//   background-color: #fff;
//   top: 50%;
//   left: 50%;
//   margin-left: -500px;
//   margin-top: -400px;
//   padding: 600px;
//   position: absolute;
// }
// //
//
// .ui-left {
//   width: 240px;
//   height: 600px;
//   float: left;
//   border-right: 10px solid #692828;
//   margin-right: 1em;
//   // background-color: blue;
// }
//
// .ui-left-top {
//   width: 220px;
//   height: 180px;
//   border-bottom: 10px solid #692828;
//   background-color: #fff;
//   padding: 10px;
// }
//
// .ui-left-top .days {
//
// }
//
// .ui-header h1 {
//   color: #333;
//   padding: 15px;
//   margin: 0;
// }


.days {
  font-family: sans-serif;
  margin-top: .75em;
  font-weight: bold;
}
