@import '../_variables.scss';


.footer {
  position: fixed;
  left: 0;
  bottom: -20px;
  width: 100%;
  z-index: 1;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  img {
    position: relative;
    bottom:0;
    left:0;
    width: 100%
  }
}
