<div class="end-game-module" *ngIf="player.gameOver === 'died'">
  <h1>Game Over</h1>
    <p>Your injuries were too great to heal. You will be missed.</p>
    <button (click)="refresh()">New Game</button>
</div>

<div class="end-game-module" *ngIf="player.gameOver === 'time'">
  <h1>Game Over</h1>
    <p>The horde of coyotes has caught up to you. You will be missed.</p>
    <button (click)="refresh()">New Game</button>
</div>

<div class="end-game-module" *ngIf="player.gameOver === 'won'">
  <h1>Game Over</h1>
    <p>You have reached Haven. It is everything you have imagined.</p>
    <button (click)="refresh()">New Game</button>
</div>
